<!--The content below is only a placeholder and can be replaced.-->

<div class="jumbotron text-center">
  <img src=".\..\..\assets\images\Logo.png" class="img-thumbnail" height="150" width="150">
  <h3>NIT A Complaint Portal</h3> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Five steps to use portal</h3>
      <ol>
      	<li>First</li>
      	<li>Second</li>
      	<li>Third</li>
      	<li>Fourth</li>
      	<li>Fifth</li>
      </ol>
    </div>
    <div class="col-sm-4">
      <h3>Initiative taken by</h3>
      <p>Dr. Ashim Saha</p>
      <p>Harshit</p>
      <p>Ayush</p>
      <p>Brahma</p>
      <p>Bishal</p>
    </div>
    <div class="col-sm-4">
      <h3>Login</h3>
      <p>UserId</p>
      <p>Password</p>
    </div>
  </div>
</div>